.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #666666;
  height: 150px;
  padding: 20px;
  color: rgb(3, 236, 3)
}

.App-title {
  font-size: 1.75em;
}

.App-intro {
  font-size: x-large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


html,
body {
  width: 100%;
  height: 100%;
  background-color: black
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.logo {
  margin-bottom: 1em;
}

.logo-left,
.logo-right {
  display: inline-block;
  position: relative;
}

@keyframes logo-anim-left {
  from { top: 0; }
  26% { top: 0; }
  29% { top: 7px; }
  40% { top: 0; }
}

@keyframes logo-anim-right {
  from { top: -45px; }
  25% { top: -50px; }
  30% { top: 7px; }
  40% { top: 0px; }
}

.logo-left {
  animation-duration: 2s;
  animation-name: logo-anim-left;
  animation-iteration-count: infinite;
}

.logo-right {
  animation-duration: 2s;
  animation-name: logo-anim-right;
  animation-iteration-count: infinite;
}

.App-intro{
  color: goldenrod
}
.App-paragraph2 {
  color: goldenrod;
  margin: 0ex;;
}
.App-paragraph {
  color: goldenrod
}


.App-title {
  color: goldenrod
}